<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register or Login @ HathGadi</title>
    <link rel="icon" href="Images\hathgadi_favicon.ico">
</head>
<body  style="background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('Images/lulrlhzsdjzusawppodg.jpg'); background-repeat:no repeat; background-size: cover">
    <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="images/hathgadi_nav_circle.png" alt="Vendor_Cart.png" height="72" width="72" >     Hathgadi</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register_login">Get Started</a>
              </li>


            </ul>
          </div>
        </div>
      </nav>
    </header>
      <div class="container-fluid mt-3 ">
            <div class="row mx-auto">
                <div class="card mx-auto" style="width: 24rem; margin-top:8%;  box-shadow: 8px 8px rgba(0, 0, 0, 0.2);">
                    <img src="Images/bag.jpg" class="card-img-top mt-2"  alt="..." height=500px width=500px >
                    <div class="card-body">
                        <h2 style="padding-left: 5%;">Login as a Customer</h2>
                        <hr>
                        <div style="object-position:center ; margin-left: 38%;">
                            <button class="btn btn-sm btn-info col-lg-4" style="object-position: center ;"><a href="/customer_login">Login</a></button>
                        </div>
                    </div>
                    <p style="text-align:center;">Don't have an account?</p>
                    <button class="btn btn-sm btn-info col-lg-4" style="object-position: center ; text-decoration: none; object-position: center ;"><a href="/customer_signup">Sign up here!</a></button>

                </div>
                <div class="card mx-auto" style="width: 24rem; margin-top:8%;  box-shadow: 8px 8px rgba(0, 0, 0, 0.2);">
                    <img src="Images/vendor.jpg" class="card-img-top mt-2"  alt="..." width=500px height=500px>
                    <div class="card-body">
                        <h2 style="padding-left: 7%;">Login as a Vendor</h2>
                        <hr>
                        <div style="object-position:center ; margin-left: 38%;">
                            <button class="btn btn-sm btn-info col-lg-4" style="object-position: center ;"><a href="/vendor_login">Login</a></button>

                        </div>
                    </div>
                    <p style="text-align:center;">Don't have an account?</p>
                    <button class="btn btn-sm btn-info col-lg-4" style="object-position: center ; text-decoration: none; object-position: center ;"><a href="/vendor_signup" >Sign up here!</a></button>
                </div>

            </div>
      </div>
      <!-- FOOTER -->
      <!-- <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; 2021 HathGadi Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer> -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>
